@use "../base/variables" as *;

.btn {
  width: 380px;
  margin-top: 30px;

  @media (max-width: 600px) {
    width: 250px !important;
  }
}

.btn-custom {
  color: #001b4a !important;

  @media (max-width: 600px) {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

.btn-product {
  margin-top: 0;
  border: 1px solid #000;
  width: 310px;
  text-align: center;
  border-radius: 13px;
  background-color: #fff;
  color: #001b4a;
  display: flex;
  justify-content: center;
  background-color: #ffd867;
  cursor: pointer;

  @media (max-width: 600px) {
    width: 250px;
  }

  div {
    border: 1px solid #000;
    font-family: $ff-ultraBold;
    border-radius: 13px;
    font-size: 36px;
    line-height: 36px;
    padding: 10px;
    padding-bottom: 15px;
    min-width: 300px;
    cursor: pointer;

    @media (max-width: 600px) {
      font-size: 28px;
      line-height: 18px;
      padding: 10px;
      padding-bottom: 15px;
      min-width: 240px;
    }
  }
}
